{% load static %}
{% load django_bootstrap5 %}
<!doctype html>
<html>
<head>
    {% bootstrap_css %}
    <script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
</head>
{% include "provider/navbar.html" %}
<body>
    <div class="container">
        <div class="row p-2 mt-3 mb-5">
            <h2>Run Status for {{run_name}}</h2>
        </div>
        {% block body %}
        <div class="row">
            <div class="col-sm-15">
                <!-- THIS USES HTMX (htmx.org) TO GET THE STATUS HTML FRAGMENT EVERY 2 SECONDS -->
                <div hx-get="/provider/run-status-progress/{{run_id}}"  hx-trigger="load, every 2s"></div>
            </div>
        </div>
        {% endblock %}
    </div>
</body>
</html>
