{% load static %}
<!-- THIS IS USED BY HTMX (htmx.org), IS REPLACED IN THE run-status.html PAGE -->
<html>
<body>
    <div class="container">
        <div class="row p-2">
        </div>
        {% block body %}
        <div class="row">
            <div class="col-sm-15">
                <h3 class="mx-auto text-center">{{ status_info.title | default:"Job run has started"}}</h3>
                <h4 class="mx-auto text-center">{{ status_info.description | default:"Please wait for the status to update"}}</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{ status_info.percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{status_info.percentage}}%"></div>
</div>
            </div>
        </div>
        {% endblock %}
    </div>
</body>
</html>
