{% load static %}
{% load render_table from django_tables2 %}
{% load django_bootstrap5 %}
<!doctype html>
<html>
<head>
    {% bootstrap_css %}
    <script>
        function download_inference(json_data, filename){
            let blob = new Blob([JSON.stringify(json_data)], {type: 'application/json'});
            let downloadUrl = window.URL.createObjectURL(blob);

            let a = document.createElement("a");
            a.href = downloadUrl;
            a.download = filename

            document.body.appendChild(a);
            
            a.click();
            URL.revokeObjectURL(downloadUrl);
        }
    </script>
</head>
{% include "provider/navbar.html" %}
<body>
    <div class="container">
        <div class="row p-2">
            <h2>Runs</h2>
        </div>
        {% block body %}
        <div class="row">
            <div class="col-sm-15">
                {% render_table table %}
            </div>
        </div>
        {% endblock %}
    </div>
</body>
</html>
